# 03_Python函数式编程及面向对象

![Python](./images/python.jpg '图片title')

## 高阶函数

-  **map/reduce**

   - map

map()函数接收两个参数，一个是函数，一个是Iterable，map将传入的函数依次作用到序列的每个元素，并把结果作为新的Iterator返回。

map() 会根据提供的函数对指定序列做映射。

第一个参数 function 以参数序列中的每一个元素调用 function 函数，返回包含每次 function 函数返回值的新列表。

$$f(x)=X^2$$

                                           L = [1, 2, 3, 4, 5, 6, 7, 8, 9]

**需求：**将函数$f(x)=X^2$作用到列表L上

In [1]:
def f(x):
    return x*x

In [2]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]

1. 使用For循环

In [3]:
L1 = []
for i in L:
    res = f(i)
    L1.append(res)
print(L1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

2. 使用列表生成式

In [4]:
L2 = [f(i) for i in L]
print(L2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

3. 使用Map

In [6]:
L3 = map(f,L)

In [7]:
print(L3)

<map object at 0x0000000004A7D550>

In [8]:
print(list(L3))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- reduce

reduce() 函数会对参数序列中元素进行累积。

函数将一个数据集合（链表，元组等）中的所有数据进行下列操作：用传给 reduce 中的函数 function（有两个参数）先对集合中的第 1、2 个元素进行操作，得到的结果再与第三个数据用 function 函数运算，最后得到一个结果。

**案例：**计算列表和：1+2+3+4+5

In [9]:
L = [1,2,3,4,5]

1. 使用For循环

In [11]:
num = 0
for i in L:
    num +=i
print(num)

15

2. 使用Reduce

In [16]:
from functools import reduce

In [17]:
def add(x,y):
    return x+y
reduce(add,L)

15

- **filter**

和map()类似，filter()也接收一个函数和一个序列。和map()不同的是，filter()把传入的函数依次作用于每个元素，然后根据返回值是True还是False决定保留还是丢弃该元素

**案例:** 在一个列表中，删掉偶数，只保留奇数。

In [22]:
L = [1, 2, 4, 5, 6, 9, 10, 15]

In [23]:
def is_odd(n):
    return n % 2 == 1

In [28]:
for i in L:
    if not is_odd(i):
        L.remove(i)
L

[1, 5, 9, 15]

In [31]:
list(filter(is_odd, L))

[1, 5, 9, 15]

## 返回函数

高阶函数除了可以接受函数作为参数外，函数还可以结果值返回。

前面我们定义过可变参数求和的函数

In [32]:
def calc_sum(*args):
    ax = 0
    for n in args:
        ax = ax + n
    return ax

但是，如果不需要立刻求和，而是在后面的代码中，根据需要再计算怎么办？可以不返回求和的结果，而是返回求和的函数：

In [33]:
def lazy_sum(*args):
    def sum():
        ax = 0
        for n in args:
            ax = ax + n
        return ax
    return sum

当我们调用`lazy_sum()`时，返回的并不是求和结果，而是求和函数：

In [34]:
f = lazy_sum(1, 3, 5, 7, 9)

In [35]:
f

In [36]:
f()

25

**注：**当我们调用lazy_sum()时，每次调用都会返回一个新的函数，即使传入相同的参数：

In [37]:
f1 = lazy_sum(1, 3, 5, 7, 9)
f2 = lazy_sum(1, 3, 5, 7, 9)
f1==f2

False

In [38]:
f1()

25

In [39]:
f2()

25

In [8]:
id(f1)

140221021987432

In [9]:
id(f2)

140221021988384

## 匿名函数

当我们在传入函数时，有些时候，不需要显式地定义函数，直接传入匿名函数更方便。

计算f(x)=x2时，除了定义一个f(x)的函数外，还可以直接传入匿名函数：

In [40]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list(map(lambda x: x * x, L))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

关键字lambda表示匿名函数，冒号前面的x表示函数参数。

匿名函数有个限制，就是只能有一个表达式，不用写return，返回值就是该表达式的结果。

用匿名函数有个好处，因为函数没有名字，不必担心函数名冲突。此外，匿名函数也是一个函数对象，也可以把匿名函数赋值给一个变量，再利用变量来调用该函数：

In [43]:
f = lambda x: x * x

In [44]:
f(5)

25

同样，也可以把匿名函数作为返回值返回，比如：

In [54]:
def build(x, y):
    return lambda: x * x + y * y

In [55]:
print(build(1,2))

5

In [15]:
f = build(1,2)
f()

5

## 装饰器

**装饰器四大原理**
- 闭包
- 函数可以作为参数传递
- 函数可以赋值给变量
- 函数可以作为返回值返回

案例：模拟网购支付扣款验证的场景

In [94]:
from pandas import DataFrame as D

数据库：

In [107]:
database = {'user_a':{'age':21,'balance':100,'real_name':False},\
'user_b':{'age':17,'balance':100,'real_name':True},\
'user_c':{'age':19,'balance':100,'real_name':True},\
'user_d':{'age':35,'balance':100,'real_name':True},\
'user_e':{'age':13,'balance':100,'real_name':True},\
'user_f':{'age':21,'balance':100,'real_name':False},\
'user_g':{'age':14,'balance':100,'real_name':True}}

In [108]:
D(database)

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance      100    100    100    100    100    100    100
real_name  False   True   True   True   True  False   True

扣款函数：

In [109]:
def cons(name,price):
    info = database[name]
    if info['balance']>=price:
        info['balance'] = info['balance']-price
        database[name] = info
        print("扣款成功")
    else:
        print("余额不足请充值")
    display(D(database))

In [110]:
cons(name='user_a',price=10)

扣款成功

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance       90    100    100    100    100    100    100
real_name  False   True   True   True   True  False   True

第一个，来面试的项目经理：

In [99]:
def cons1(name,price):
    info = database[name]
    if info['balance']>price:
        if info['age']>=18 and info['real_name']:
            info['balance'] = info['balance']-price
            database[name] = info
            print("扣款成功")
        else:
            print('您的年龄不符合标准，或未实名认证')
    else:
        print("余额不足请充值")
    display(D(database))

In [100]:
cons1(name='user_f',price=30)

您的年龄不符合标准，或未实名认证

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance       90    100    100    100    100    100    100
real_name  False   True   True   True   True  False   True

结果：面试失败！

第二个

In [101]:
def xxxx(name):
    info = database[name]
    if info['age']>=18 and info['real_name']:
        return True
    else:
        return False

In [102]:
def cons2(name,price):
    info = database[name]
    if info['balance']>price:
        if xxxx(name):
            info['balance'] = info['balance']-price
            database[name] = info
            print("扣款成功")
        else:
            print('您的年龄不符合标准，或未实名认证')
    else:
        print("余额不足请充值")
    display(D(database))

In [103]:
cons2(name='user_e',price=30)

您的年龄不符合标准，或未实名认证

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance       90    100    100    100    100    100    100
real_name  False   True   True   True   True  False   True

还是不行

终于第三个来了

现在要在不更改原来扣款函数的情况下添加扣款时对成年和是否实名的认证

In [116]:
def confirm(func):
    print('confirm')
    def wrapper(name,price):
        print('wrapper')
        info = database[name]
        print('判断')
        if info['age']>=18 and info['real_name']:
            return func(name,price)
        else:
            print('您的年龄不符合标准，或未实名认证')
            return None
    return wrapper

In [117]:
@confirm
def cons3(name,price):
    print('开始扣款')
    info = database[name]
    print('判断余额')
    if info['balance']>=price:
        info['balance'] = info['balance']-price
        database[name] = info
        print("扣款成功")
    else:
        print("余额不足请充值")
    display(D(database))

confirm

In [118]:
confirm(cons3(name='user_c',price=30))

wrapper
判断
开始扣款
判断余额
扣款成功

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance       90    100     10    100    100    100    100
real_name  False   True   True   True   True  False   True

confirm

In [113]:
cons3(name='user_c',price=30)

wrapper
开始扣款
判断余额
扣款成功

          user_a user_b user_c user_d user_e user_f user_g
age           21     17     19     35     13     21     14
balance       90    100     70    100    100    100    100
real_name  False   True   True   True   True  False   True

1. 在使用装饰器的时候，函数本身就会被当做参数传递给装饰器函数
2. 当调用函数的时候，装饰器内的装饰函数就会接受函数所传入的参数，并执行一些操作
3. 装饰函数执行完之后才会调用函数本身